@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>


}

<style>
    body {
        margin: 0px;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 400px;
    }

    .box-cadastro {
        margin-top: 20px
    }
</style>

<div class="box">
    <h3 class="text-center">Acesso ao EducaTu</h3>
    <form asp-controller="Login" asp-action="Entrar" method="post">
        <div class="form-group">
            <label for="login">Endereço de e-mail</label>
            <input type="text" asp-for="Login" class="form-control" id="login" placeholder="Insira o seu login">
            @Html.ValidationMessageFor(x => x.Login)
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" asp-for="Senha" class="form-control" id="senha" placeholder="Insira sua senha">
            @Html.ValidationMessageFor(x => x.Senha)
        </div>
        <button type="submit" class="btn btn-success btn-block btn-lg">Entrar</button>
    </form>
</div>
<div class="box-cadastro">
    <p class="mb-4 text-sm mx-auto text-center">
        Novo por aqui? <a asp-action="" asp-controller="" class="text-primary text-gradient font-weight-bold">Cadastre-se</a>
    </p>
</div>