@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}


<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="container">

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <p class="text-center">@TempData["MensagemErro"]</p>
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close" style="float:right">X</button>
        </div>
    }
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close" style="float:right">X</button>
        </div>
    }

    <div class="text-center">
        <form class="form-signin" asp-controller="Login" asp-action="Entrar" method="post">
            <img class="mb-4" src="/img/educatu-logo.svg" alt="" width="120" height="120">
            <div class="form-group">
                <input type="text" asp-for="Login" class="form-control" id="login" placeholder="Insira o seu login" required autofocus>
                @Html.ValidationMessageFor(x => x.Login)
            </div>
        
            <div class="form-group">
                <input type="password" asp-for="Senha" class="form-control" id="senha" placeholder="Insira sua senha" required>
                @Html.ValidationMessageFor(x => x.Senha)
            </div>

            <p class="mb-4 text-sm mx-auto text-center">
                Novo por aqui? <a asp-action="Cadastro" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Cadastre-se</a>
            </p>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>
    </div>

</div>