@{
    ViewData["Title"] = "Home";
}
@model LoginModel

<link rel="stylesheet" href="~/css/cursos.css" asp-append-version="true" />

<header class="bg-gray py-5 mb-5" style="background-color: #f5f5f5; margin: 0px !important;">
    <div class="container h-100">
        <div class="col-lg-6 col-md-8 mx-auto">
            <img class="mx-auto d-block mb-4 pt-8" style="margin-top:30px" src="/img/educatu-logo.svg" alt="" width="120" height="120">
            <p class="lead text-muted text-center">Somos uma plataforma de aprendizado online concebida para tornar o conhecimento em tecnologia acessível a todos.</p>
        </div>
    </div>
</header>


<div class="album py-5">
    <div class="container">
        <div class="row g-3">

            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="card shadow-sm">
                    <div class="contimg">
                        <img class="bd-placeholder-img card-img-top" src="/img/csharp-css.png" alt="" width="220" height="160">
                    </div>
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

        </div>
    </div>
</div>
